{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
  <form method="get" action="email_list.php" id="searchForm" name="searchForm">
    <div class="form-div">
      <input type="hidden" name="act" value="list" />
      <input type="button" name="export" value="{$lang.export}" onclick="location.href='email_list.php?act=export';" class="button" />
      <span>状态：</span>
      <select onchange="document.searchForm.submit()" name="stat">
        <option {if $stat eq '0'} selected {/if} value="0">已订阅</option>
        <option {if $stat eq '1'} selected {/if} value="1">无效</option>
        <option {if $stat eq '2'} selected {/if} value="2">已退订</option>
      </select>
      <span>域名：</span>
      <input type="text" name="domain" value="{$domain}" style="width: 150px" />
      <input type="submit" value="搜索" />
      <span style="">Refurbished Original Phone From China,Stable supply.</span>
    </div>
  </form>

  <div class="list-div" id="listDiv">
    {/if}
    <table cellspacing='1' cellpadding='3'>
      <tr>
        <th width="5%"><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"><a href="javascript:listTable.sort('id'); ">{$lang.id}</a>{$sort_id}</th>
        <th><a href="javascript:listTable.sort('email'); ">{$lang.email_val}</a>{$sort_email}</th>
        <th>优先级</th>
        <th>国家</th>
        <th>已发送次数</th>
        <th width="15%"><a href="javascript:listTable.sort('stat'); ">{$lang.stat.name}</a>{$sort_stat}</th>
      </tr>
      {foreach from=$emaildb item=val}
        <tr>
          <td><input name="checkboxes[]" type="checkbox" value="{$val.id}" />{$val.id}</td>
          <td>{$val.email} <a rel="{$val.email}" class="sendemail" href="javascript:;">手动发送</a></td>
          <td>{$val.ordernum}</td>
          <td>{$val.country}</td>
          <td>{$val.sendcount}</td>
          <td align="center">{$lang.stat[$val.stat]}</td>
        </tr>
        {foreachelse}
        <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
      {/foreach}
    </table>
    <table style="display: none" id="page-table" cellspacing="0">
      <tr>
        <td>选择发送内容</td>
        <td>
          <select name="email_content_id">
            {foreach from=$email_contents item=val}
              <option value="{$val.template_id}">{$val.template_subject}</option>
            {/foreach}
          </select>
        </td>
        <td>
          <input type="hidden" name="act" value="" />
          <input type="button" id="btnSubmit1" value="{$lang.button_exit}" disabled="true" class="button" onClick="javascript:document.listForm.act.value='batch_exit';document.listForm.submit();" />
          <input type="button" id="btnSubmit2" value="{$lang.button_remove}" disabled="true" class="button" onClick="javascript:document.listForm.act.value='batch_remove';document.listForm.submit();" />
          <input type="button" id="btnSubmit3" value="发送" disabled="true" class="button" onClick="javascript:document.listForm.act.value='batch_send';document.listForm.submit();" />
        </td>
      </tr>
    </table>
    <form method="post" action="email_list.php" name="listForm">
    <table id="page-table" cellspacing="0">
      <tr>
        <td align="right" nowrap="true">
          {include file="page.htm"}
        </td>
      </tr>
    </table>
    </form>
    {if $full_page}
  </div>
  <script type="Text/Javascript" language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
  </script>
{include file="pagefooter.htm"}
{/if}
<script>
  $('.sendemail').click(function(){
    var self = $(this);
    var email = $(this).attr('rel');
    $.post('send_email.php?email=' + $(this).attr('rel'),function(res){
      if(res){
        window.clipboardData.setData('Text',email);
        self.parents('tr').remove();
      }
    });
  });
</script>