<table class="outer" style="width: 750px;font-size:10pt" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td>
<table class="outer" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td><a href="http://www.openskyphone.com/" target="_blank"> <img src="http://openskyphone.com/themes/default/images/logo.png" width="180" height="42" border="0" alt="" /> </a></td>
<td align="right">
<table width="570" class="outer" border="0" cellspacing="0" cellpadding="0" align="right">
<tbody>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="right">Click <a style="font-weight:bold;color:#d60000;" target="_blank" href="http://www.openskyphone.com/email.php?act=unsubscribe&email={$email}">Unsubscribe</a>, you will no longer receive our email.</td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="right">The most stable supplier from China, support the <span style="font-size:14px;font-weight:bold">return & warranty</span>.</td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="right">Grade A++ with <span style="font-size:14px;font-weight:bold">original packaging and accessories</span>.</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left">Payments: PayPal, BankTransfer, MoneyGram.</td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left">Transport: 0-2 days of pick up time, 3-5 days of transit time, the fastest total cost 3-7 days.</td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left">Customer service email: <span style="font-weight: bold;">openskyphone@hotmail.com</span></td>
</tr>
<tr>
<td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left">skype: <span style="font-weight: bold;">openskyphone@hotmail.com</span> &nbsp; whatsapp: <span style="font-weight: bold;">008613008801048</span></td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
    <td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
    <td>
        <table width="100%" style="border-top:1px solid #999999;border-left:1px solid #999999" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" class="bold" align="center"><strong>VIP Level</strong></td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" class="bold" align="center"><strong>all paid orders amount in last 60 days</strong></td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" class="bold" align="center"><strong>Discount from Display Price</strong></td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">Register Member</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">0 - 999.99 USD</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><br></td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">Pre-VIP</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">1,000 - 1,999.99 USD</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><span style="color: #ab0000;font-weight: bold">2%</span> Off</td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">VIP</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">2,000 - 4,999.99 USD</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><span style="color: #ab0000;font-weight: bold">4%</span> Off</td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">VIP Silver</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">5,000 - 19,999.99 USD</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><span style="color: #ab0000;font-weight: bold">6%</span> Off</td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">VIP Gold</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">20,000 - 49999.99 USD</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><span style="color: #ab0000;font-weight: bold">8%</span> Off</td>
            </tr>
            <tr>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">VIP Diamond</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center">50,000 USD+</td>
                <td style="font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;padding:2px;border-right:1px solid #999999;border-bottom:1px solid #999999" align="center"><span style="color: #ab0000;font-weight: bold">10%</span> Off</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td><img width="750" style="width: 750px" src="/themes/default/images/dropshipping_email.png" /></td>
</tr>
<tr>
    <td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
    <td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td style="padding: 5px 0px;">
<table class="outer" style="font-weight: bold; width: 750px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td width="70"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=3" target="_blank"> IPHONE </a></td>
<td width="86"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=4" target="_blank"> SAMSUNG </a></td>
<td width="55"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=5" target="_blank"> SONY </a></td>
<td width="63"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=6" target="_blank"> NOKIA </a></td>
<td width="45"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=7" target="_blank"> HTC </a></td>
<td width="37"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=17" target="_blank"> LG </a></td>
<td width="108"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=18" target="_blank"> BLACKBERRY </a></td>
<td width="78"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=29" target="_blank"> HUAWEI </a></td>
<td width="74"><a style="text-decoration: none; color: #3c3c3c;font-size:10pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" href="http://openskyphone.com/category.php?id=30" target="_blank"> LENOVO </a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-weight: bold;">
<table class="outer" style="width: 750px;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=271" target="_blank"><img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201609/thumb_img/271_thumb_G_1474888748134.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=2" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/2_thumb_G_1472010651641.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=10" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/10_thumb_G_1472038327478.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=7" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/7_thumb_G_1472034531826.jpg" width="174" height="174" alt="" /> </a></td>
</tr>
<tr>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-size:9pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;text-align: left" align="left" width="176">Refurbished Original iPhone 6 No-Fingerprint</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-size:9pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;text-align: left" align="left" width="176">Refurbished Original iPhone 6</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-size:9pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;text-align: left" align="left" width="176">Refurbished Original Unlock iPhone 5S</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-size:9pt;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;text-align: left" align="left" width="176">Refurbished Original Unlock iPhone 4S</td>
</tr>
<tr>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=271" target="_blank">$292.<span style="font-size:10pt">93</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=2" target="_blank">$383.<span style="font-size:10pt">30</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=10" target="_blank">$235.<span style="font-size:10pt">99</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=7" target="_blank">$93.<span style="font-size:10pt">90</span></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;" >&nbsp;</td>
</tr>
<tr>
<td style="font-weight: bold;">
<table class="outer" style="width: 750px;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=8" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/8_thumb_G_1472035340376.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=9" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/9_thumb_G_1472036376535.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=4" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/4_thumb_G_1472031439591.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=6" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/6_thumb_G_1472033714889.jpg" width="174" height="174" alt="" /> </a></td>
</tr>
<tr>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Unlock iPhone 5</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Unlock iPhone 5C</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original iPhone 6s</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px; padding: 5px 0px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Unlock iPhone 4</td>
</tr>
<tr>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=8" target="_blank">$178.<span style="font-size:10pt">00</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=9" target="_blank">$138.<span style="font-size:10pt">00</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=4" target="_blank">$488.<span style="font-size:10pt">40</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=6" target="_blank">$77.<span style="font-size:10pt">80</span></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-weight: bold;">
<table class="outer" style="width: 750px;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=66" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/66_thumb_G_1472201771895.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=46" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/46_thumb_G_1472192339344.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=71" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/71_thumb_G_1472206079157.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=272" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201610/thumb_img/272_thumb_G_1475569988757.jpg" width="174" height="174" alt="" /> </a></td>
</tr>
<tr>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S4 LTE</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy Note 4/N910P</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S5 LTE/G900F</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S5 LTE/G900H</td>
</tr>
<tr>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=66" target="_blank">$140.<span style="font-size:10pt">80</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=46" target="_blank">$290.<span style="font-size:10pt">40</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=71" target="_blank">$215.<span style="font-size:10pt">60</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=272" target="_blank">$203.<span style="font-size:10pt">50</span></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-weight: bold;">
<table class="outer" style="width: 750px;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=81" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/81_thumb_G_1472209772831.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=62" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/62_thumb_G_1472199817413.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=39" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/39_thumb_G_1472180884535.jpg" width="174" height="174" alt="" /> </a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td align="left" width="176"><a href="http://openskyphone.com/goods.php?id=59" target="_blank"> <img style="border: 1px solid #ccc;" src="http://openskyphone.com/images/201608/thumb_img/59_thumb_G_1472198279083.jpg" width="174" height="174" alt="" /> </a></td>
</tr>
<tr>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S6/G920F</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S4/i9500</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy Mega 6.3/i9200</td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="color: #666666; line-height: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif; padding: 5px 0px;font-size:9pt;text-align: left" align="left" width="176">Refurbished Original Samsung Galaxy S3 LTE</td>
</tr>
<tr>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=81" target="_blank">$351.<span style="font-size:10pt">18</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=62" target="_blank">$128.<span style="font-size:10pt">50</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=39" target="_blank">$143<span style="font-size:10pt">00</span></a></td>
<td class="litb_add" align="left" width="15">&nbsp;</td>
<td style="background-color: #d60000; font-size: 16px;font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;" align="left" height="20"><a style="text-decoration: none; color: #ffffff; padding-left: 3px;" href="http://openskyphone.com/goods.php?id=59" target="_blank">$119.<span style="font-size:10pt">90</span></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;">OPENSKYPHONE is one of the fastest growing wholesale Refurbished cell phone distributors in the world. With clients in the United States, Canada,Europe, and Asia, the company brings top of the line mobile devices to markets across the globe at a lower rate than the competition. Major GSM wholesale organizations and retailers buy mobile phones from GSM Supplier because the company has a long-standing reputation of delivering quality wholesale cell phones at affordable prices.</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td><img width="750px" src="http://www.openskyphone.com/images/upload/Image/aboutus.jpg" style="width:750px;">
</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="line-height: 1px;font-size: 1pt" bgcolor="#000000" height="2">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 1pt;height: 8px;line-height: 8px;">&nbsp;</td>
</tr>
<tr>
<td style="font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;">
email : openskyphone@hotmail.com
</td>
</tr>
<tr>
<td style="font-family: 'Microsoft YaHei', 微软雅黑, sans-serif;">
website : http://openskyphone.com
</td>
</tr>
</tbody>
</table>